<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="SqlConnString" value="Data Source=DESKTOP-OV65M43\MSSQL2019;Initial Catalog=Rostelecom;Persist Security Info=True;User ID=sa;Password=sa;" />
  </appSettings>
</configuration>