<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="SqlConnString" value="Data Source=SQL6030.site4now.net;Initial Catalog=db_a9a0ad_rostelecomdata2023;User Id=db_a9a0ad_rostelecomdata2023_admin;Password=rostelecom543" />
  </appSettings>
</configuration>